---
import Logo from '~/components/Logo.astro';
import ToggleTheme from '~/components/common/ToggleTheme.astro';

import { getHomePermalink } from '~/utils/permalinks';

export interface Props {
  id?: string;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
}

const { id = 'header', isSticky = false, isDark = false, isFullWidth = false, showToggleTheme = false } = Astro.props;
---

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky, dark: isDark },
    'top-0 z-40 flex-none mx-auto w-full border-b border-gray-50/0 transition-[opacity] ease-in-out',
  ]}
  {...isSticky ? { 'data-aw-sticky-header': true } : {}}
  {...id ? { id } : {}}
>
  <div class="absolute inset-0"></div>
  <div
    class:list={[
      'relative text-default py-3 px-3 md:px-6 mx-auto w-full',
      {
        'flex justify-between items-center': true,
      },
      {
        'max-w-7xl': !isFullWidth,
      },
    ]}
  >
    <div class="flex items-center">
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>
    </div>
    <div class="flex items-center">
      {showToggleTheme && <ToggleTheme iconClass="w-6 h-6 md:w-5 md:h-5" />}
    </div>
  </div>
</header>
